* text=auto

# Windows-Skripte
*.ps1 text eol=crlf

# Unix-lastig
*.sh   text eol=lf
*.py   text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.md   text eol=lf
*.html text eol=lf
*.css  text eol=lf
*.js   text eol=lf
